@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

:root{
   --coolgrey : #F6F6F6;
   --pale: #bdbdbd;
   --ncream: #dbdbd5;
}

*{
   
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: antiquewhite;
}
 

/* ***********HEADER*********** */

#header{
    
    background-color:   var(--coolgrey);
    width: 100%;
    max-width: 100%;
    height: 5em;
    display:flex;
    flex-direction:row;
    padding: 0 2em;
    margin: 0 auto;
    outline:  20px blue;
}



.img{   
    display: flex;
    height: 100%;
    align-items: flex-start;
    width: 50%; 
    max-width: 100%;
    /* outline: 2px solid red; */
     
    
}   


#header-img{
    display: flex;
    height: 100%;
    width: fit-content;
    max-width: 100%;
   
}

#nav-bar{
    /* outline: 2px solid green; */
    margin: 0 auto;
    padding: 0 22em;
    width:50%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    font-weight: 500;
    padding: 1em;
}

a{
    
    color: black;
    text-decoration: none;
}
 a:hover , a:focus{
        color: rgb(49, 49, 49);
        transform: scale(1.1);
 }

/* ***********END HEADER************ */

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 0;
    margin: 0;
    padding: 0;
}

.video{
    display: flex;
    height: max-content;
    padding: 2em 0;
    outline: 1px solid red;
    justify-content: center;
}

.sec1{
    display: flex;
    background-color: var(--pale);
    height: max-content;
}

#about,#contact,#quote{
    height: 100%;
    width: 33%;
    outline: 1px solid blue;
    padding: 1em;
    
}


/* *****************
*****************
MEDIA QUERY******
************
*****************
***************** */

@media (max-width: 750px) {

#nav-bar{
    color:red;
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;    
}

 

}